@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0px !important;
}

.MuiGrid-item {
  padding: 0px !important;
}

.MuiGrid-root {
  margin: 0px !important;
  width: 100% !important;
}

.MuiTableContainer-root {
  box-shadow: none!important;
}
.MuiAccordionDetails-root {
  padding: 0px;
}

.MuiAccordionSummary-content {
  margin:0px!important;
}

.MuiAccordionSummary-root {
  padding: 30px !important;
  margin: 0px !important;

}

.MuiAccordion-root {
  box-shadow: none !important;
  border-radius: 20px !important;
  margin-bottom:15px!important;
}

.MuiAccordion-root::before {
  display: none!important;
}

.MuiAvatar-root {
  font-size: 14px;
  font-weight: 500;
  width: 30px;
  height: 30px;
}