@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0px !important;
}

.MuiGrid-item {
  padding: 0px!important;
}

.MuiGrid-root {
  margin: 0px !important;
  width: 100% !important;
}

.MuiTableContainer-root {
  box-shadow: none!important;
}

.MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid #eee!important;
}


.MuiAccordion-root {
  box-shadow: none !important;
  border-radius: 5px !important;
  margin-bottom:0px!important;
}

.MuiAccordion-root::before {
  display: none!important;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 26px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.MuiTableRow-root:hover {
  background-color: #f8f8f8;
}

.MuiAccordionSummary-content {
  align-items: center;
}

.MuiAccordionSummary-content, .MuiAccordionSummary-contentGutters {
  margin: 20px 0px!important;
}

.value-stats {
  text-align: right!important;
  font-size: 12px!important;
  font-weight: 500!important;
}

.title-stats {
  text-align: left!important;
  font-size: 12px!important;
  font-weight: 400!important;
}

.value-stats-comp {
  text-align: right!important;
  font-size: 12px!important;
  font-weight: 500!important;
}

.title-stats-comp {
  text-align: left!important;
  font-size: 12px!important;
  font-weight: 400!important;
}

.MuiDataGrid-cell {
  border:none!important;
  display: flex!important;
  align-items: center!important;
}

.MuiDataGrid-root {
  border-width: 0px!important;
}

.adsbygoogle {
  display: block;
  width: 100%;
  height: auto; /* O specifica una dimensione se necessario */
}

table {
  width: 100%;
}

td, th, tr {
  vertical-align: middle!important; /* Allinea verticalmente al centro */
  text-align: center; /* Allinea orizzontalmente al centro, se necessario */
}

img {
  vertical-align: middle; /* Allinea l'immagine verticalmente al centro */
}

#current-stats.MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid rgba(23,29,141,0.2)!important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0px!important;
}

.career-history {
  font-size: 12px!important;
}

.player-competitions {
  font-size: 12px!important;
}

img.flag-style {
  height: 23px !important;
  border-radius: 50% !important;
  width: 23px !important;
  object-fit: cover !important;
  margin-right: 5px;
}